.Footer {
  bottom: 0;
  color: white;
  display: flex;
  font-size: small;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  z-index: 1000;
}

/* @media (max-width: 44em) {
  .Footer {
    justify-content: center;
  }

  .Footer__container {
    width: 100%;
  }
} */

.Footer__container {
  padding: 1rem;
  text-align: center;
}

.Footer__anchor {
  color: #6b77ff;
  text-decoration: none;
  transition: 0.4s ease;
}

.Footer__anchor:hover {
  color: #8e97f5;
  transition: color 0.4s ease;
}

@media (max-width: 1024px) {
  .App__projects-container {
  }

  .Footer {
    align-items: center;
    backdrop-filter: blur(7.5px) saturate(200%);
    -webkit-backdrop-filter: blur(7.5px) saturate(200%);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    bottom: unset;
    color: white;
    display: flex;
    font-size: small;
    justify-content: center;
    position: unset;
    right: unset;
    z-index: 1000;
  }

  .Footer__anchor {
    color: #252a60;
    text-decoration: none;
    transition: 0.4s ease;
  }

  .Footer__anchor:hover {
    color: #0e1022;
    transition: color 0.4s ease;
  }
}
